<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiko">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Armata">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arsenal">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body>
    <div class="d-flex d-sm-flex d-md-flex d-lg-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center" style="height: 100%;background-image: url(&quot;assets/img/thomas-tastet-1056492-unsplash.jpg&quot;);background-position: center;background-size: cover;background-attachment: fixed;"><img class="d-lg-flex" style="position: fixed;left: 30px;top: 25px;" src="assets/img/logoWhite.png" width="60rem">
        <h1 class="display-4 d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center align-items-xl-center"
            style="/*margin-top: 230px;*/margin: auto;color: #ffffff;/*margin-bottom: 0px;*/"><strong><%= brand %></strong>&nbsp;<%= about %></h1>
    </div>
    <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center highlight-clean"
        style="/*background-color: rgb(255,255,255,0)!important;*/height: 95%;background: -webkit-linear-gradient(top, rgba(227,227,227,1) 0%,rgba(125,185,232,0) 100%);background: linear-gradient(to bottom, rgba(227,227,227,1) 0%,rgba(125,185,232,0) 100%);">
        <div class="container">
            <div class="intro">
                <h1 class="text-center" data-aos="fade-up" data-aos-duration="950" data-aos-delay="600" style="font-family: 'Alegreya Sans SC', sans-serif;margin-bottom: 0px;">ABOUT US</h1>
                <p class="text-center" data-aos="fade-up" data-aos-duration="950" data-aos-delay="800" style="font-family: 'Source Sans Pro', sans-serif;margin-top: 20px;margin-bottom: 20px;color: rgb(0,0,0);"><%= message %></p>
            </div>
            <div class="buttons">
                <h6 class="text-center" data-aos="flip-right" data-aos-delay="1800" style="font-size: 14px;color: #82750f;font-family: 'Source Sans Pro', sans-serif;margin-bottom: 0px;padding-top: 0px;margin-top: 0px;bottom: 2%;">ABU SHAKEIL X ABU GHAIDA</h6>
            </div>
        </div>
    </div>
    <footer class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"
        style="height: 5%;background-color: #1f1f1f;">
        <h6 class="text-center" style="font-family: Amiko, sans-serif;font-size: 10px;margin-bottom: 0px;color: rgb(232,232,232);">Est. 2019 in Batu Kajang by&nbsp;<a href="mailto:abuproject.id@gmail.com" style="color: rgb(232,232,232);"><span style="text-decoration: underline;">ABU</span>.<br></a></h6>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>